<div class="card">
    <div class="card-header">
     <h1 style="text-align: center; color: blue;">{{title}}</h1>   
    </div>
    <div class="container card-body" style="border: 1px solid grey;border-radius: 15px;margin-top: 10px;margin-bottom: 10px;">
        <!-- if no product available -->
        <div *ngIf="!available" class="alert alert-warning alert-dismissible fade show" role="alert">
            Nothing to show Here!! &nbsp;<strong> What About Adding some Products ?! </strong>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <!-- if available -->
<!-- search bar -->
<div class="container">
    <nav *ngIf="available" class="navbar search-bar">
        <form class="form-inline">
          <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
          <p *ngIf="!result" class="card-text"> No Results. Please Redefine Search Term</p>
        </form>
      </nav>
      <div class="search-results container text-center" *ngIf="result">
          <h4>Search Results</h4>
          
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{results[0].image}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{results[0].name}}</h5>
              <p class="card-text">{{results[0].description}}</p>
            </div>
          </div>
      </div>
</div>

<!-- search bar end -->


        <div *ngIf="available" class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                         Image
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Description
                    </th>
                    <th>    
                        <!-- sort functionality -->
                        <a href="#" (click)="sortProducts()">SORT</a>
                    </th>
                </tr>
                <!-- loading products data -->
                <tr *ngFor="let product of products">
                    <td>
                        <img [src]="product.image" alt="product-image" [title]="product.name" width="50px" style="margin: 2px;">
                    </td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>